service cloud.firestore {
  match /databases/{database}/documents {
    match /dummycollection/{documnet} {
      allow read: if true;
      allow write: if false;
    }
  }
}